force-app/main/Investigations/Whistleblower_Management/flows/Investigation_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Status_Reason</name>
        <label>Check Status Reason</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inconclusive_or_Unsubstantial</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsubstantial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inconclusive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Actions_Taken</targetReference>
            </connector>
            <label>Inconclusive or Unsubstantial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_Status_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Investigation_Start_Date</targetReference>
            </connector>
            <label>Set Active</label>
        </rules>
        <rules>
            <name>Set_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Investigation_End_Date</targetReference>
            </connector>
            <label>Set Closed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Investigation On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Investigation On Update</label>
    <loops>
        <name>Loop_Related_Actions</name>
        <label>Loop Related Actions</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <collectionReference>Get_Related_Actions_Taken</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Action_Taken</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Actions_Taken</name>
        <label>Get Related Actions Taken</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Related_Actions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Action_Taken__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Action_Taken</name>
        <label>Update Action Taken</label>
        <locationX>270</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Loop_Related_Actions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Related_Actions.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>No Action Taken</stringValue>
            </value>
        </inputAssignments>
        <object>Action_Taken__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Investigation_End_Date</name>
        <label>Update Investigation End Date</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_Status_Reason</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Investigation_Start_Date</name>
        <label>Update Investigation Start Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_Status_Reason</targetReference>
        </connector>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
        <object>Investigation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
