force-app/main/Investigations/Whistleblower_Management/flows/Whistleblower_Support_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Whistleblower_Support_Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Whistleblower Support Confirmation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Whistleblower_Record</name>
        <label>Assign Whistleblower Record</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>WhistleblowerReportId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Whistleblower_Report_Selection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhistleblowerReportName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Whistleblower_Report_for_Authenticated.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Support_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Whistleblower_Record</name>
        <label>Assign Whistleblower Record</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>WhistleblowerReportId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Whistleblower_Report.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhistleblowerReportName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Whistleblower_Report.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Support_Screen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <value>
            <stringValue>We have received your support ticket and it will undergo evaluation now.    Any updates to your support ticket can be found in the portal.  To view your support tickets in the portal, click &quot;View Submissions &amp; Results&quot; in the navigation menu and then click, &quot;Support Cases&quot;.  Updates to your support cases will also be sent to you view email.    Helpful Links  Portal Login: https://nuvitekllc--benhuttdev.sandbox.my.site.com/wbr/login  Support Tickets: https://nuvitekllc--benhuttdev.sandbox.my.site.com/wbr/s/recordlist/Whistleblower_Support__c/00B5C0000045qALUAY    NOTE: We will send you an email now to confirm your support ticket submission along with the information above.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Anonymous_User</name>
        <label>Anonymous User</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Whistleblower_Support_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Anonymous</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Whistleblower_Support.Anonymous__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmail</targetReference>
            </connector>
            <label>Not Anonymous</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Anonymous_Submitter</name>
        <label>Is Anonymous Submitter</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Anonymous_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Anonymous_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAnonymous</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Anonymous_Screen</targetReference>
            </connector>
            <label>Anonymous True</label>
        </rules>
        <rules>
            <name>Anonymous_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAnonymous</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Whistleblower_Records</targetReference>
            </connector>
            <label>Anonymous False</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>WhistleblowerRecordChoices</name>
        <collectionReference>Whistleblower_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Reported_Date__c</displayField>
        <object>Whistleblower_Report__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>WhistleblowerReportNameFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Whistleblower Report:&apos; + &apos; &apos; + {!WhistleblowerReportName}</expression>
    </formulas>
    <interviewLabel>Whistleblower Support Create {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Whistleblower Support Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Whistleblower_Support</name>
        <label>Whistleblower Support</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>New_Whistleblower_Support</targetReference>
        </connector>
        <inputAssignments>
            <field>Anonymous__c</field>
            <value>
                <elementReference>IsAnonymous</elementReference>
            </value>
        </inputAssignments>
        <object>Whistleblower_Support__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>New_Whistleblower_Support</name>
        <label>New Whistleblower Support</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Anonymous_Submitter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Whistleblower_Support</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Whistleblower_Support__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Whistleblower_Records</name>
        <label>Whistleblower Records</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Anonymous_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reporter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Whistleblower_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Whistleblower_Report</name>
        <label>Whistleblower Report</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Whistleblower_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Anonymous_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Unique_Identifier</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Whistleblower_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Whistleblower_Report_for_Authenticated</name>
        <label>Whistleblower Report for Authenticated</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Support_Record_Reporter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Whistleblower_Report_Selection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Whistleblower_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Support_Record_Reporter</name>
        <label>Update Support Record - Reporter</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Assign_Whistleblower_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Whistleblower_Support.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reporter__c</field>
            <value>
                <elementReference>Whistleblower_Report_for_Authenticated.Reporter__c</elementReference>
            </value>
        </inputAssignments>
        <object>Whistleblower_Support__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Whistleblower_Support_Update</name>
        <label>Whistleblower Support Update</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Redirect_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Whistleblower_Support.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>WhistleblowerReportNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Details__c</field>
            <value>
                <elementReference>Question_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whistleblower_Report__c</field>
            <value>
                <elementReference>WhistleblowerReportId</elementReference>
            </value>
        </inputAssignments>
        <object>Whistleblower_Support__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Anonymous_Screen</name>
        <label>Anonymous Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Whistleblower_Report</targetReference>
        </connector>
        <fields>
            <name>Anonymous_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Anonymous_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayTextUniqueIdInstructions</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Locate your Unique Identifier:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;&lt;u&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Your Unique Identifier was shown to you upon submitting your report. At that time, it was also emailed to you, and there was an option to download your Unique Identifier to your computer. If you did not download this file, refer to your email to find your Unique Identifier.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DisplayTextUniqueIdentifierIntro</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Enter your Unique Identifier below:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Anonymous_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Anonymous_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unique_Identifier</name>
                    <dataType>String</dataType>
                    <fieldText>Unique Identifier</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Anonymous_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Anonymous_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Anonymous_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Anonymous_Screen</name>
        <label>Non-Anonymous Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Whistleblower_Report_for_Authenticated</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Anonymous_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Anonymous_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayReport</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Select A Report:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The dropdown to the right contains a list of all reports that you have submitted, so select the report you&apos;re inquiring about:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Anonymous_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Whistleblower_Report_Selection</name>
                    <choiceReferences>WhistleblowerRecordChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Whistleblower Report Selection</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirect_User</name>
        <label>Redirect User</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RedirectLWC</name>
            <extensionName>c:flowCompletionRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Whistleblower_Support</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Confirmation</name>
        <label>Screen Confirmation</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Anonymous_User</targetReference>
        </connector>
        <fields>
            <name>DisplayText_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(45, 163, 6);&quot;&gt;We have received your support ticket and it will undergo evaluation now.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Any updates to your support ticket can be found in the portal.  To view your support tickets in the portal, click &quot;View Submissions &amp;amp; Results&quot; in the navigation menu and then click, &quot;Support Cases&quot;.  Updates to your support cases will also be sent to you view email.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;&lt;u&gt;Helpful Links&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Portal Login:&lt;/strong&gt; &lt;a href=&quot;https://nuvitekllc--benhuttdev.sandbox.my.site.com/wbr/login&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://nuvitekllc--benhuttdev.sandbox.my.site.com/wbr/login&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Support Tickets: &lt;/strong&gt;&lt;a href=&quot;https://nuvitekllc--benhuttdev.sandbox.my.site.com/wbr/s/recordlist/Whistleblower_Support__c/00B5C0000045qALUAY&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://nuvitekllc--benhuttdev.sandbox.my.site.com/wbr/s/recordlist/Whistleblower_Support__c/00B5C0000045qALUAY&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;NOTE: We will send you an email now to confirm your support ticket submission along with the information above.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Support_Screen</name>
        <label>Support Screen</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_Confirmation</targetReference>
        </connector>
        <fields>
            <name>DisplayTextQuestion</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Question / Concern&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;In the box below, describe your question or concern in as much detail as possible and we will get back to you as quick as possible.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;NOTE: You will always be able to find our response to the support ticket you are currently creating by navigating to your support tickets in the portal and checking for any updated responses on the record.  Additionally, if you are a Non-Anonymous user and you have opted for email and (or) text updates, you will be notified of a response in that way as well.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question_Details</name>
            <fieldText>Question Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Whistleblower_Support</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IsAnonymous</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>WhistleblowerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Whistleblower_Report__c</objectType>
    </variables>
    <variables>
        <name>WhistleblowerReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhistleblowerReportName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
