force-app/main/Investigations/Whistleblower_Management/flows/Whistleblower_Report_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Confirmation_Email</name>
        <label>Send Confirmation Email</label>
        <locationX>314</locationX>
        <locationY>1922</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Screen_RedirectUserOnFlowCompletion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>shahzeb.khan@nuvitek.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Report Submission Confirmation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Submit_For_Approval</name>
        <label>Submit For Approval</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Decision_User_DoesUserHaveRequiredData</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Record_WhistleblowerReport_Main.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Submission_Severity_As_Low</name>
        <label>Non-Urgent Submission Assignments</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SubmissionSeverity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWhistleBlowerQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_WhistleblowerReport_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Submission_Severity_As_Urgent</name>
        <label>Urgent Submission Assignments</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SubmissionSeverity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Urgent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G5C000004KI4z</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_WhistleblowerReport_Name</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Both</name>
        <choiceText>Both</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmailChoice</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ethics</name>
        <choiceText>Ethics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ethics</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fraud</name>
        <choiceText>Fraud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fraud</stringValue>
        </value>
    </choices>
    <choices>
        <name>PhoneChoice</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Saftey</name>
        <choiceText>Safety</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Safety</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check</name>
        <label>Check For Escalation</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Submission_Severity_As_Low</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_An_Escalation_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_WhistleblowerReport_Main.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fraud</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Submission_Severity_As_Urgent</targetReference>
            </connector>
            <label>Is An Escalation Category</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_User_DoesUserHaveRequiredData</name>
        <label>Does User Have All Required Data</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Decision_WhistleblowerReportUser_DoesUserDesireFullAnonymity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_User_Outcome_IsMissingData</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_WhistleblowerReport_Main.Has_Required_User_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_User_DesiresFullAnonymity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_UserMissingData</targetReference>
            </connector>
            <label>User Is Missing Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_WhistleblowerReportUser_DoesUserDesireFullAnonymity</name>
        <label>Does User Desire Full Anonymity</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_ConfirmationForAnonymousUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_WhistleblowerReportUser_DoesDesireFullAnonymity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_WhistleblowerReport_Main.Anonymous__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_ConfirmationForAnonymousUser</targetReference>
            </connector>
            <label>User Desires Full Anonymity</label>
        </rules>
        <rules>
            <name>Decision_WhistleblowerReportUser_DoesNotDesireFullAnonymity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_WhistleblowerReport_Main.Anonymous__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_ConfirmationForNonAnonymousUser</targetReference>
            </connector>
            <label>User Does Not Desire Full Anonymity</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Picklist_User_EmploymentStatusChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Employment_Status__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_WhistleblowerReport_CommunicationPreference</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Communication_Preference__c</picklistField>
        <picklistObject>Whistleblower_Report__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_WhistleblowerReport_VisiblityDesiredChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Visibility_Desired__c</picklistField>
        <picklistObject>Whistleblower_Report__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BaseRedirectURL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(LEFT({!$Api.Partner_Server_URL_630}, FIND( &apos;.sandbox&apos;, {!$Api.Partner_Server_URL_630})), &apos;--c&apos;, &apos;&apos;) + &quot;sandbox.my.site.com&quot;</expression>
    </formulas>
    <formulas>
        <name>Formula_TextList_ForOutput</name>
        <dataType>String</dataType>
        <expression>&quot;{\&quot;&quot; &amp;
&quot;Unique Report Identifier\&quot;: \&quot;&quot; + {!Record_WhistleblowerReport_Main.Anonymous_Id__c} &amp; &quot;\&quot;&quot;
&amp; &quot;}&quot;</expression>
    </formulas>
    <formulas>
        <name>Formula_UrlList_ForOutput</name>
        <dataType>String</dataType>
        <expression>&quot;{&quot;
&amp; &quot;\&quot;Whistleblower Report\&quot;: \&quot;&quot; &amp; {!BaseRedirectURL} + &quot;/whistleblower-protection-home/whistleblower-report/&quot; + {!Record_WhistleblowerReport_Main.Id} &amp; &quot;\&quot;, &quot;
&amp; &quot;\&quot;Related Investigations\&quot;: \&quot;&quot; &amp; {!BaseRedirectURL} + &quot;/whistleblower-protection-home/whistleblower-report/&quot; + {!Record_WhistleblowerReport_Main.Id} + &quot;/Investigations__r&quot; &amp; &quot;\&quot;, &quot;
&amp; &quot;\&quot;Related Actions Taken\&quot;: \&quot;&quot; &amp; {!BaseRedirectURL} + &quot;/whistleblower-protection-home/whistleblower-report/&quot; + {!Record_WhistleblowerReport_Main.Id} + &quot;/Actions_Taken__r&quot; &amp; &quot;\&quot;&quot;
&amp; &quot;}&quot;</expression>
    </formulas>
    <formulas>
        <name>Formula_User_DesiresFullAnonymity</name>
        <dataType>Boolean</dataType>
        <expression>{!Screen_WhistleblowerReport_Intro_PrivacyRequired} = &apos;Fully Anonymous&apos;</expression>
    </formulas>
    <formulas>
        <name>Formula_WhistleblowerReport_NameGenerator</name>
        <dataType>String</dataType>
        <expression>{!Record_WhistleblowerReport_Main.Anonymous_Id__c} + &apos; &apos; + TEXT({!Record_WhistleblowerReport_Main.CreatedDate})</expression>
    </formulas>
    <interviewLabel>Whistleblower Report Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Whistleblower Report Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Created_WhistleblowerReport</name>
        <label>Created Whistleblower Report</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Retrieved_WhistleblowerReport</targetReference>
        </connector>
        <inputAssignments>
            <field>Anonymous__c</field>
            <value>
                <elementReference>Formula_User_DesiresFullAnonymity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignee__c</field>
            <value>
                <elementReference>getQueueMember.UserOrGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Screen_WhistleblowerReport_Intro_TypeOfAssistanceNeeded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Preference__c</field>
            <value>
                <elementReference>Screen_WhistleblowerReport_Intro_CommunicationPreference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getWhistleBlowerQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_Temrs_Acknowledgement__c</field>
            <value>
                <elementReference>PrivacyAcknowledgement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Report_Details__c</field>
            <value>
                <elementReference>Screen_WhistleblowerReport_Intro_IssueBeingDisclosed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Initial Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terms_Acknowledgement__c</field>
            <value>
                <elementReference>UserAcknowledgesTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility_Desired__c</field>
            <value>
                <elementReference>Screen_WhistleblowerReport_Intro_PrivacyRequired</elementReference>
            </value>
        </inputAssignments>
        <object>Whistleblower_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getQueueMember</name>
        <label>get Queue Member</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Created_WhistleblowerReport</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWhistleBlowerQueue.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWhistleBlowerQueue</name>
        <label>get WhistleBlower Queue</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQueueMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Whistleblower_Report_Submission</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieved_WhistleblowerReport</name>
        <label>Retrieved Whistleblower Report</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Created_WhistleblowerReport</elementReference>
            </value>
        </filters>
        <object>Whistleblower_Report__c</object>
        <outputReference>Record_WhistleblowerReport_Main</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Anonymous__c</queriedFields>
        <queriedFields>Anonymous_Id__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Has_Required_User_Data__c</queriedFields>
        <queriedFields>Reporter__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Updated_User_MissingData</name>
        <label>Updated User - Missing Data</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Decision_WhistleblowerReportUser_DoesUserDesireFullAnonymity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompanyName</field>
            <value>
                <elementReference>Screen_UserMissingData_Employer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Screen_UserMissingData_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <elementReference>Screen_UserMissingData_EmploymentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Screen_UserMissingData_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Screen_UserMissingData_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Screen_UserMissingData_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_WhistleblowerReport_Name</name>
        <label>Updated Whistleblower Report - Name</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Submit_For_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Created_WhistleblowerReport</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Formula_WhistleblowerReport_NameGenerator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <elementReference>SubmissionSeverity</elementReference>
            </value>
        </inputAssignments>
        <object>Whistleblower_Report__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_ConfirmationForAnonymousUser</name>
        <label>Confirmation - Anonymous User</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_RedirectUserOnFlowCompletion</targetReference>
        </connector>
        <fields>
            <name>Screen_ConfirmationForAnonymousUser_DisplayText</name>
            <fieldText>&lt;p&gt;Your report has been submitted successfully.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;EXTREMELY IMPORTANT: since you are submitting this report as a fully anonymous user, YOU MUST SAVE YOUR UNIQUE REPORT IDENTIFIER (click the download button below to do so) because we do not, and will not, have the ability to know who you are. This means, that without your Unique Report Identifier below, there will be no way for us to locate your records and provide you with any updates or results if you do not save your Unique Report Identifier.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Unique Report Identifier: {!Record_WhistleblowerReport_Main.Anonymous_Id__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Helpful Links To View Updates &amp;amp; Results:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Whistleblower Report: {!BaseRedirectURL}/whistleblower-protection-home/whistleblower-report/{!Record_WhistleblowerReport_Main.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Related Investigations: {!BaseRedirectURL}/whistleblower-protection-home/whistleblower-report/{!Record_WhistleblowerReport_Main.Id}/Investigations__r&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Related Actions Taken: {!BaseRedirectURL}/whistleblower-protection-home/whistleblower-report/{!Record_WhistleblowerReport_Main.Id}/Actions_Taken__r&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;NOTE: since you reported this anonymously then we don&apos;t store any personal details in our systems.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;TO SAVE YOUR UNIQUE IDENTIFIER AND THE LINKS ABOVE, CLICK THE DOWNLOAD BUTTON BELOW.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_ConfirmationForAnonymousUser_LWC_fileGenerator</name>
            <extensionName>c:fileGenerator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textListString</name>
                <value>
                    <elementReference>Formula_TextList_ForOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>urlListString</name>
                <value>
                    <elementReference>Formula_UrlList_ForOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>desiredFileTypes</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_ConfirmationForNonAnonymousUser</name>
        <label>Confirmation - Non-Anonymous User</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Confirmation_Email</targetReference>
        </connector>
        <fields>
            <name>Screen_ConfirmationForNonAnonymousUser_DisplayText_SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(39, 179, 8); background-color: rgb(255, 255, 255);&quot;&gt;We have received your report and we will begin the evaluation process.  &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_ConfirmationForNonAnonymousUser_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_ConfirmationForNonAnonymousUser_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_ConfirmationForNonAnonymousUser_DisplayText_NextStepsMessage</name>
                    <fieldText>&lt;p&gt;NEXT STEPS&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To view updates on your report use the &quot;View Submission &amp;amp; Results&quot; tab in the navigation menu as seen below:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To view updates on your report use the &quot;View Submission &amp;amp; Results&quot; tab in the navigation menu. This will open a dropdown that gives you four options:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Screenshot 2023-12-06 at 4.49.31 PM.png&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Whistleblower Reports (your submissions)&lt;/p&gt;&lt;p&gt;Related Investigations (investigations related to your submissions)&lt;/p&gt;&lt;p&gt;Related Actions Taken (actions taken related to your submissions and investigations)&lt;/p&gt;&lt;p&gt;Support Cases (support cases related to your submissions)&lt;/p&gt;&lt;p&gt;Helpful Links To View Updates &amp;amp; Results:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Whistleblower Report: {!BaseRedirectURL}/whistleblower-protection-home/whistleblower-report/{!Record_WhistleblowerReport_Main.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Related Investigations: {!BaseRedirectURL}/whistleblower-protection-home/whistleblower-report/{!Record_WhistleblowerReport_Main.Id}/Investigations__r&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Related Actions Taken: {!BaseRedirectURL}/whistleblower-protection-home/whistleblower-report/{!Record_WhistleblowerReport_Main.Id}/Actions_Taken__r&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;DISCLAIMERS&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;• Right to communicate with Congress&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;• Risk of retaliation, consult experienced counsel&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;• Blow the whistle on own time with own resources&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;• Your office&apos;s jurisdiction&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;• No classified information over unsecured channels&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;• Office confidentiality practices, and right to confidentiality&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Screen_ConfirmationForAnonymousUser_DisplayText_EmailMessage</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;NOTE: We will email you confirmation of your report submission.  This email will contain the next steps and disclaimers mentioned above so that you can refer to them if you ever need them.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_RedirectUserOnFlowCompletion</name>
        <label>Redirect User On Flow Completion</label>
        <locationX>314</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen_RedirectUserOnFlowCompletion_LWC_flowCompletionRedirect</name>
            <extensionName>c:flowCompletionRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Record_WhistleblowerReport_Main.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_UserMissingData</name>
        <label>Missing User Data Screen</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Updated_User_MissingData</targetReference>
        </connector>
        <fields>
            <name>Screen_UserMissingData_FormInstructions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(211, 22, 22); font-size: 14px;&quot;&gt;Fill out any missing fields and ensure that all fields with existing values are correct.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_UserMissingData_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_UserMissingData_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_UserMissingData_FirstName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Screen_UserMissingData_LastName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_UserMissingData_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_UserMissingData_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>$User.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Screen_UserMissingData_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>$User.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_UserMissingData_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_UserMissingData_EmploymentStatus</name>
                    <choiceReferences>Picklist_User_EmploymentStatusChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.Employment_Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Employment Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Screen_UserMissingData_Employer</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.CompanyName</elementReference>
                    </defaultValue>
                    <fieldText>Employer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_WhistleblowerReport_Intro</name>
        <label>Whistleblower Report Intro</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getWhistleBlowerQueue</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>Privacy Guide</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Instructions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_WhistleblowerReport_Intro_DisplayText_PrivacyCol2</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;You have the right to privacy and how your identity and personal information is used.  You can choose to be fully anonymous, confidential, or Non-Anonymous &amp;amp; Non-Confidential.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;&lt;em&gt; Fully Anonymous&lt;/em&gt;&lt;/strong&gt; &lt;em&gt;- we do not store your data and therefore have no knowledge of who you are.&lt;/em&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;&lt;em&gt;Confidential&lt;/em&gt;&lt;/strong&gt; &lt;em&gt;- you allow us to store your data and reveal your identity to us, but we keep that information private and fully confidential.&lt;/em&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;&lt;em&gt;Non-Anonymous &amp;amp; Non-Confidential&lt;/em&gt;&lt;/strong&gt; &lt;em&gt;- you allow us to know and reveal your identity.&lt;/em&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Privacy Acknowledgement&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PrivacyAcknowledgement</name>
                    <dataType>Boolean</dataType>
                    <fieldText>By checking this box, I acknowledge that I fully understand my privacy rights defined above</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(211, 13, 13);&quot;&gt;You must agree to the terms to proceed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!PrivacyAcknowledgement} = TRUE</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Privacy_and_Communication</name>
            <fieldText>Reporter Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Privacy_and_Communication_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_WhistleblowerReport_Intro_PrivacyRequired</name>
                    <choiceReferences>Picklist_WhistleblowerReport_VisiblityDesiredChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Privacy Required</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Fully Anonymous - means we do not store any user data in our systems and we will not know who you are.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Confidential - means we do store your user data and we do know who you are, but we would keep that information private.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Non-Anonymous / Non-Confidential - means you don&apos;t want to be anonymous or kept confidential.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Screen_WhistleblowerReport_Intro_TypeOfAssistanceNeeded</name>
                    <choiceReferences>Ethics</choiceReferences>
                    <choiceReferences>Saftey</choiceReferences>
                    <choiceReferences>Fraud</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of assistance needed</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select what seems to make the most sense for the &quot;category&quot; of the issue that you would like to disclose.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Privacy_and_Communication_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Padding1</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Screen_WhistleblowerReport_Intro_ExternalCommunicationConsent</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RepresentedByLawyer</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Will you be represented by a lawyer?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Screen_WhistleblowerReport_Intro_ExternalCommunicationConsent</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Do you consent to communication via phone or email?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If yes to either one of them, then check this box.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Screen_WhistleblowerReport_Intro_PrivacyRequired</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Fully Anonymous</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Screen_WhistleblowerReport_Intro_CommunicationPreference</name>
                    <choiceReferences>Picklist_WhistleblowerReport_CommunicationPreference</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Communication Preference</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Preferred method of communication.  This is how we will contact you and send you updates.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Screen_WhistleblowerReport_Intro_PrivacyRequired</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Fully Anonymous</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Screen_WhistleblowerReport_Intro_ExternalCommunicationConsent</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Explanation_of_Issue</name>
            <fieldText>Explanation of Issue</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Explanation_of_Issue_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_WhistleblowerReport_Intro_IssueBeingDisclosed</name>
                    <fieldText>Issue being disclosed</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;This is a detailed description of the issue being disclosed.  Please be as thorough as possible.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_WhistleblowerReport_Terms</name>
        <label>Whistleblower Report Terms</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_WhistleblowerReport_Intro</targetReference>
        </connector>
        <fields>
            <name>Screen_WhistleblowerReport_Terms_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_WhistleblowerReport_Terms_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_WhistleblowerReport_Terms_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_WhistleblowerReport_Terms_DisplayText_Main</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;&lt;u&gt;Terms &amp;amp; Conditions&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Your Privacy Rights:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Privacy rights will be provided for you.  You will be given the right to choose whether to reveal your identity, along with any other personal information, or not.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;If you choose not to reveal your identity,&lt;/strong&gt; we will not request or store any of your personal information. &lt;em&gt; If you are an existing user in our system and we already have personal data related to your user account, but still want to submit with full anonymity, we acknowledge that our system process has been built in a way that even our system won&apos;t know who you are if you select to be fully anonymous.&lt;/em&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;If you choose to reveal your identity&lt;/strong&gt;, we will store your personal information requested, and you will be given the option to choose whether that information is to be kept confidential or not.  If you choose to keep your information confidential, it will not be exposed to, or known by, anyone but us.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68)));&quot;&gt;Legal Counsel:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68)));&quot;&gt;Legal advice will not be given at this time.  Once you submit a report, we will then evaluate and determine whether any legal advice will be given.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Accepted Documentation:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Documentary evidence will not be accepted at this time.  Once you submit a report, and once we&apos;ve evaluated your report, we will then request documentary evidence if we choose to move forward with an investigation.  Any documentary evidence that is submitted at this time will be deemed as invalid.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;&lt;u&gt;To proceed, you must agree to the following:&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>UserAcknowledgesTerms</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I understand that, by checking this box, I&apos;m acknowledging that I agree to all terms and conditions</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(215, 12, 12); background-color: rgb(255, 255, 255);&quot;&gt;You must agree to the terms to proceed.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!UserAcknowledgesTerms} = TRUE</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_WhistleblowerReport_Terms_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_WhistleblowerReport_Terms</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;NEXT STEPS&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;To view updates on your report&lt;/strong&gt; use the &quot;View Submission &amp;amp; Results&quot; tab in the navigation menu as se&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;en below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;To view updates on your report use the &quot;View Submission &amp;amp; Results&quot; tab in the navigation menu. This will open a dropdown that gives you four op&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;tions:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68)));&quot;&gt;&lt;img src=&quot;https://nuvitekllc--benhuttdev.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0685C000001quJA?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Screenshot 2023-12-06 at 4.49.31 PM.png&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Whistleblo&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;wer Reports (your submissions)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Related Investigations (investigations related to your submissions)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Related Actions Taken (actions taken related to your submissions and investigations)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Support Cases (support cases related to your submissions)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;&lt;em&gt;&lt;u&gt;Helpful Links To View Updates &amp;amp; Results:&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Whistleblower Report:&amp;nbsp;&lt;/strong&gt;&lt;a href=&quot;https://nuvitekllc--benhuttdev.sandbox.my.site.com/wbr/s/detail/%7B!Record_WhistleblowerReport_Main.Id%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://nuvitekllc--benhuttdev.sandbox.my.site.com/wbr/s/detail/{!Record_WhistleblowerReport_Main.Id}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Related Investigations:&amp;nbsp;&lt;/strong&gt;&lt;a href=&quot;https://nuvitekllc--benhuttdev.sandbox.my.site.com/wbr/s/relatedlist/%7B!Record_WhistleblowerReport_Main.Id%7D/Investigations__r&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://nuvitekllc--benhuttdev.sandbox.my.site.com/wbr/s/relatedlist/{!Record_WhistleblowerReport_Main.Id}/Investigations__r&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Related Actions Taken:&amp;nbsp;&lt;/strong&gt;&lt;a href=&quot;https://nuvitekllc--benhuttdev.sandbox.my.site.com/wbr/s/relatedlist/%7B!Record_WhistleblowerReport_Main.Id%7D/Actions_Taken__r&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://nuvitekllc-benhuttdev.sandbox.my.site.com/wbr/s/relatedlist/{!Record_WhistleblowerReport_Main.Id}/Actions_Taken__r&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;DISCLAIMERS &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;• Right to communicate with Congress &lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;• Risk of retaliation, consult experienced counsel &lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;• Blow the whistle on own time with own resources &lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;• Your office’s jurisdiction &lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;• No classified information over unsecured channels &lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;• Office confidentiality practices, and right to confidentiality&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G5C000004KBAq</stringValue>
        </value>
    </variables>
    <variables>
        <name>Record_WhistleblowerReport_Main</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Whistleblower_Report__c</objectType>
    </variables>
    <variables>
        <name>SubmissionSeverity</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
