force-app/main/Investigations/Whistleblower_Management/flows/Whistleblower_Report_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description
    >Is the first update from the creation screen flow.</description>
        <name>First_Update</name>
        <label>First Update</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NameContainsFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Investigation</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NameContainsFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>False</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NameContainsFormula</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Record.Name}, &apos;WB-&apos;)</expression>
    </formulas>
    <formulas>
        <name>WhistleblowerReportName</name>
        <dataType>String</dataType>
        <expression
    >&apos;Whistleblower Report:&apos; + {!$Record.Name}</expression>
    </formulas>
    <interviewLabel
  >Whistleblower Report On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Whistleblower Report On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records_2</name>
        <label>Action Taken</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Action_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investigation__c</field>
            <value>
                <elementReference>Investigation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>WhistleblowerReportName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whistleblower_Report__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Action_Taken__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Investigation</name>
        <label>Investigation</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_Records_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>WhistleblowerReportName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Reason__c</field>
            <value>
                <stringValue>Initial Evaluation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whistleblower_Report__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Investigation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>First_Update</targetReference>
        </connector>
        <object>Whistleblower_Report__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
