force-app/main/Government_Documents/Purchasing_and_Invoicing/flows/SFL_NewInvoiceInput.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_AddToPICollection</name>
        <label>ASSIGN_AddToPICollection</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>coll_sObj_PayableInvoiceLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_sObj_PayableInvoiceLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_AdditionalLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_FederalContractLineItems</name>
        <label>ASSIGN_FederalContractLineItems</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>coll_sObj_FederalContractLineItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_FederalContractLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract_Line_Item_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_InvoiceInitDetails</name>
        <label>ASSIGN_InvoiceInitDetails</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_PayableInvoice.Invoice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_PayableInvoice.Period_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Period_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_PayableInvoice.Period_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Period_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_PayableInvoice.Federal_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_FederalContract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_PayableInvoice.Invoice_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_PayableInvoice.Contract_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Period</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_PayableInvoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_InvoicePayment</name>
        <label>ASSIGN_InvoicePayment</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_InvoicePayment.Payable_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_PayableInvoice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_InvoicePayment.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_InvoicePayment.Certifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_InvoicePayment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Certification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_InvoicePayment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_PayableInvoiceLineItem</name>
        <label>ASSIGN_PayableInvoiceLineItem</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_PayableInvoiceLineItem.Amount_to_be_Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_to_be_Paid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_PayableInvoiceLineItem.Federal_Contract_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractLineItems.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_PayableInvoiceLineItem.Payable_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_sObj_PayableInvoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_AddToPICollection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DEC_AdditionalLineItems</name>
        <label>DEC_AdditionalLineItems</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DEC_AdditionalLineItems_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_additional_CLINs_to_add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Contract_Line_Item_Selection</targetReference>
            </connector>
            <label>DEC_AdditionalLineItems_Yes</label>
        </rules>
        <rules>
            <name>DEC_AdditionalLineItems_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_additional_CLINs_to_add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_PILineItems</targetReference>
            </connector>
            <label>DEC_AdditionalLineItems_No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_Contacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>var_sObj_Contact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_ContractPeriod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contract_Period__c</picklistField>
        <picklistObject>Payable_Invoice_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_FederalContract</name>
        <dataType>String</dataType>
        <displayField>Contract_Number__c</displayField>
        <object>Federal_Contract__c</object>
        <outputAssignments>
            <assignToReference>var_sObj_FederalContract.Contract_End_Date__c</assignToReference>
            <field>Contract_End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_sObj_FederalContract.Contract_Start_Date__c</assignToReference>
            <field>Contract_Start_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_sObj_FederalContract.Contracted_Company__c</assignToReference>
            <field>Contracted_Company__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_sObj_FederalContract.Contracting_Department__c</assignToReference>
            <field>Contracting_Department__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_sObj_FederalContract.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_User</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <outputAssignments>
            <assignToReference>var_sObj_User.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>form_date_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>SFL_NewInvoiceInput {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFL_NewInvoiceInput</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_InvoicePayment</name>
        <label>CREATE_InvoicePayment</label>
        <locationX>176</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>var_sObj_InvoicePayment</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_PayableInvoice</name>
        <label>CREATE_PayableInvoice</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>GET_FederalContractLineItems</targetReference>
        </connector>
        <inputReference>var_sObj_PayableInvoice</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_PILineItems</name>
        <label>CREATE_PILineItems</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputReference>coll_sObj_PayableInvoiceLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_FederalContractLineItems</name>
        <label>GET_FederalContractLineItems</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_FederalContractLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Federal_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_sObj_FederalContract.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Federal_Contract_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CertifierAssignment</name>
        <label>CertifierAssignment</label>
        <locationX>176</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASSIGN_InvoicePayment</targetReference>
        </connector>
        <fields>
            <name>New_Invoice_Entry_Assign_Certifier</name>
            <fieldText>New Invoice Entry - Assign Certifier</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Invoice_Entry_Assign_Certifier_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assign_Invoice_for_PM_Authorization</name>
                    <choiceReferences>choice_User</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assign Invoice for PM Authorization</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Notes</name>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>1646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_Screen</targetReference>
        </connector>
        <fields>
            <name>New_Invoice_Entry_Confirmation</name>
            <fieldText>New Invoice Entry - Confirmation</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Invoice_Entry_Confirmation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConfirmationText</name>
                    <fieldText>&lt;p&gt;Your new Payable Invoice, related line items, and Invoice Payment have been created. When you click next, you will be redirected to the newly created Payable Invoice record.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contract_Line_Item_Selection</name>
        <label>Contract Line Item Selection</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASSIGN_PayableInvoiceLineItem</targetReference>
        </connector>
        <fields>
            <name>New_Invoice_Entry_Contract_Line_Items</name>
            <fieldText>New Invoice Entry - Contract Line Items</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Invoice_Entry_Contract_Line_Items_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContractLineItemsText</name>
                    <fieldText>&lt;p&gt;Please select one of the following Federal Contract Line Items that is associated with the invoice.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ContractLineItems</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Federal_Contract_Line_Item__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Federal Contract Line Items</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>coll_sObj_FederalContractLineItems</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;CLIN__c&quot;,&quot;guid&quot;:&quot;column-f849&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;CLIN&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-1de1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Amount_to_be_Paid</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount to be Paid</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Invoice_Entry_Additional_Contract_Line_Items</name>
            <fieldText>New Invoice Entry - Additional Contract Line Items</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Invoice_Entry_Additional_Contract_Line_Items_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Do_you_have_additional_CLINs_to_add</name>
                    <choiceReferences>choice_Yes</choiceReferences>
                    <choiceReferences>choice_No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you have additional CLINs to add?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>File_Upload</name>
        <label>File Upload</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CertifierAssignment</targetReference>
        </connector>
        <fields>
            <name>New_Invoice_Entry_Upload_Required_Files</name>
            <fieldText>New Invoice Entry - Upload Required Files</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Invoice_Entry_Upload_Required_Files_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UploadFilesText</name>
                    <fieldText>&lt;p&gt;Please upload documents related to this invoice. Potential related document types could be:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Invoice&lt;/li&gt;&lt;li&gt;SF-182&lt;/li&gt;&lt;li&gt;Vendor Quote&lt;/li&gt;&lt;li&gt;Other&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;At least one document must be provided.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Invoice_Entry_Upload_Required_Files_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UploadRequiredFiles</name>
                    <extensionName>c:sFL_FileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>var_sObj_PayableInvoice.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Required Files</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>uploadComplete</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Initial_Contract_Details</name>
        <label>Initial Contract Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASSIGN_InvoiceInitDetails</targetReference>
        </connector>
        <fields>
            <name>New_Invoice_Entry_Contract_Information</name>
            <fieldText>New Invoice Entry - Contract Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Invoice_Entry_Contract_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Related_Federal_Contract</name>
                    <choiceReferences>choice_FederalContract</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Related Federal Contract</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Invoice_Entry_Invoice_Information</name>
            <fieldText>New Invoice Entry - Invoice Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Invoice_Entry_Invoice_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Invoice Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Period_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Period Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Invoice_Entry_Invoice_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>form_date_Today</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Period_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Period End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Invoice_Entry_Contract_Period</name>
            <fieldText>New Invoice Entry - Contract Period</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Invoice_Entry_Contract_Period_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Period</name>
                    <choiceReferences>choice_ContractPeriod</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Contract Period</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_Screen</name>
        <label>Redirect Screen</label>
        <locationX>176</locationX>
        <locationY>1754</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RedirectionText</name>
            <fieldText>&lt;p&gt;Please wait while the system redirects you.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RedirectToInvoice</name>
            <extensionName>c:recordNavigator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>var_sObj_PayableInvoice.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initial_Contract_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>coll_sObj_FederalContractLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Federal_Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>coll_sObj_PayableInvoiceLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payable_Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>var_sObj_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_sObj_FederalContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Federal_Contract__c</objectType>
    </variables>
    <variables>
        <name>var_sObj_FederalContractLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Federal_Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>var_sObj_InvoicePayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Payment__c</objectType>
    </variables>
    <variables>
        <name>var_sObj_PayableInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payable_Invoice__c</objectType>
    </variables>
    <variables>
        <name>var_sObj_PayableInvoiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payable_Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>var_sObj_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
