force-app/main/Government_Documents/Purchasing_and_Invoicing/flows/SFL_InvoicePaymentCertification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_UpdateInvoicePayment</name>
        <label>ASSIGN_UpdateInvoicePayment</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>GET_InvoicePayment.Licenses_Associated_with_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_licenses_associated_with_this_invoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_InvoicePayment.Invoice_Payment_Explanation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Payment_Explanation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_InvoicePayment.Invoice_Payment_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Payment_Justification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_InvoicePayment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_InvoicePayment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>DEC_AddtlCert</name>
        <label>DEC_AddtlCert</label>
        <locationX>176</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DEC_AddtlCert_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_certify_additional_Invoice_Payments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>GET_InProgressPayments</targetReference>
            </connector>
            <label>DEC_AddtlCert_Yes</label>
        </rules>
        <rules>
            <name>DEC_AddtlCert_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_certify_additional_Invoice_Payments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation</targetReference>
            </connector>
            <label>DEC_AddtlCert_No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_Licenses</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Licenses_Associated_with_Invoice__c</picklistField>
        <picklistObject>Invoice_Payment__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SFL_InvoicePaymentApproval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFL_InvoicePaymentCertification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_FederalContract</name>
        <label>GET_FederalContract</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_FederalContractLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_PayableInvoice.Federal_Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Federal_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_FederalContractLineItems</name>
        <label>GET_FederalContractLineItems</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Information_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Federal_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_FederalContract.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Federal_Contract_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_InProgressPayments</name>
        <label>GET_InProgressPayments</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Payment_to_Certify</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Certifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Certification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_InvoicePayment</name>
        <label>GET_InvoicePayment</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_PayableInvoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoicePayments.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PayableInvoice</name>
        <label>GET_PayableInvoice</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_PayableInvoiceLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoicePayments.firstSelectedRow.Payable_Invoice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payable_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PayableInvoiceLineItems</name>
        <label>GET_PayableInvoiceLineItems</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_FederalContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payable_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_PayableInvoice.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payable_Invoice_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_InvoicePayment</name>
        <label>UPDATE_InvoicePayment</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>More_to_Certify</targetReference>
        </connector>
        <inputReference>GET_InvoicePayment</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Certify_Invoice_Payment_Confirmation</name>
            <fieldText>Certify Invoice Payment - Confirmation</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Certify_Invoice_Payment_Confirmation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConfirmationText</name>
                    <fieldText>&lt;p&gt;Thank you for certifying the invoice payments. You may now close this tab or window.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invoice_Information_Screen</name>
        <label>Invoice Information Screen</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASSIGN_UpdateInvoicePayment</targetReference>
        </connector>
        <fields>
            <name>Certify_Payment_Invoice_Details</name>
            <fieldText>Certify Invoice Payment - Invoice Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Certify_Payment_Invoice_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GET_PayableInvoice.Invoice_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Period_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>GET_PayableInvoice.Period_Start_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Period Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Certify_Payment_Invoice_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>GET_PayableInvoice.Invoice_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Period_End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>GET_PayableInvoice.Period_End_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Period End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Certify_Payment_Invoice_Details_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GET_PayableInvoice.Contract_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Contract Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Contract_Period</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GET_PayableInvoice.Contract_Period__c</elementReference>
                    </defaultValue>
                    <fieldText>Contract Period</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Invoice_Information_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Invoice_Information_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Total_Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>GET_PayableInvoice.Invoice_Total_Amount__c</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Total Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Notes</name>
                    <defaultValue>
                        <stringValue>{!GET_InvoicePayment.Notes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Invoice_Information_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Invoice_Information_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CLIonInvoice</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Payable_Invoice_Line_Item__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contract Line Items on Invoice</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GET_PayableInvoiceLineItems</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Contract_CLIN__c&quot;,&quot;guid&quot;:&quot;column-c8aa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contract CLIN&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Amount_to_be_Paid__c&quot;,&quot;guid&quot;:&quot;column-f11c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Amount to be Paid&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Amount_Remaining__c&quot;,&quot;guid&quot;:&quot;column-af76&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Amount Remaining&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Certify_Invoice_Payment_Certification_Details</name>
            <fieldText>Certify Invoice Payment - Certification Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Certify_Invoice_Payment_Certification_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Agency_Supported</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GET_InvoicePayment.Agency_Supported__c</elementReference>
                    </defaultValue>
                    <fieldText>Agency Supported</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Certify_Invoice_Payment_Certification_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_licenses_associated_with_this_invoice</name>
                    <choiceReferences>choice_Licenses</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are licenses associated with this invoice?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Invoice_Information_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Invoice_Information_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Payment_Explanation</name>
                    <fieldText>Invoice Payment Explanation</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Invoice_Payment_Justification</name>
                    <fieldText>Invoice Payment Justification</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>More_to_Certify</name>
        <label>More to Certify</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_AddtlCert</targetReference>
        </connector>
        <fields>
            <name>Certify_Invoice_Payment_Additional_Certifications</name>
            <fieldText>Certify Invoice Payment - Additional Certifications</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Certify_Invoice_Payment_Additional_Certifications_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Would_you_like_to_certify_additional_Invoice_Payments</name>
                    <choiceReferences>choice_Yes</choiceReferences>
                    <choiceReferences>choice_No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Would you like to certify additional Invoice Payments?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Payment_to_Certify</name>
        <label>Select Payment to Certify</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_InvoicePayment</targetReference>
        </connector>
        <fields>
            <name>Certify_Invoice_Payment_Selection</name>
            <fieldText>Certify Invoice Payment - Selection</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Certify_Invoice_Payment_Selection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelectionText</name>
                    <fieldText>&lt;p&gt;Please select which Invoice Payment you wish to work with today.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>InvoicePayments</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Invoice_Payment__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Invoice Payment Records</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GET_InProgressPayments</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Payable_Invoice__c&quot;,&quot;guid&quot;:&quot;column-01fc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Payable Invoice&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Agency_Supported__c&quot;,&quot;guid&quot;:&quot;column-08dd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Agency Supported&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-bb5b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_InProgressPayments</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
